<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Robot Manager</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body data-ng-app="robotManager" data-ng-controller="RobotController" lang="en">
        <table border="1" data-ng-init="getRobots()">
            <thead>
            <tr>
                <th>Felvitel ideje</th>
                <th>Robot neve</th>
                <th>Típus</th>
                <th>Gyártás éve</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="robot in robots | orderBy: '-created'">
                <td>{[{ robot.created|date:'yyyy-MM-dd hh:mm:ss'}]}</td>
                <td>{[{ robot.name}]}</td>
                <td>{[{ robot.type}]}</td>
                <td>{[{ robot.year}]}</td>
            </tr>
            </tbody>
        </table>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <script type="text/javascript">
        CONFIG = {
            APP_NAME: 'Robot Manager',
            APP_URL: '{{ url('homepage') }}',
            API_URL: '{{ url('homepage') }}api/'
        };
    </script>
    <script src="{{ asset('public/app/app.js') }}"></script>
    <script src="{{ asset('public/app/controllers/RobotController.js') }}"></script>
    <script src="{{ asset('public/app/services/RobotFactory.js') }}"></script>
</html>
